<?xml version="1.0" encoding="UTF-8"?>
<suite name="Website Testing Suite" parallel="false">
    
    <!-- Test with Chrome (default) -->
    <test name="Chrome Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <!-- Original hardcoded tests -->
            <class name="tc_website.tc_login"/>
            <class name="tc_website.tc_dky"/>
            <class name="tc_website.tc_logout"/>
            <class name="tc_website.tc_changePassword"/>
            <class name="tc_website.tc_updateProfile"/>
            <class name="tc_website.tc_viewProfile"/>
            <class name="tc_website.tc_search"/>
            <class name="tc_website.tc_viewProductDetail"/>
            <class name="tc_website.tc_cartManagement"/>
            <class name="tc_website.tc_payment"/>
        </classes>
    </test>
    
    <!-- Data-Driven Tests -->
    <test name="Data-Driven Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tc_website.LoginTestDataDriven"/>
            <class name="tc_website.RegistrationTestDataDriven"/>
        </classes>
    </test>
    
    <!-- Uncomment to test with Firefox
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tc_website.tc_login"/>
        </classes>
    </test>
    -->
    
</suite>